body {
  /* This is the simple gradient (fade) background for the "Inferno" page */
  background-image: url(https://media.npr.org/assets/artslife/arts/2010/02/dantesinferno/inferno_archive-becf91cdf5140a602f77b5514b518ba7db4db4f6.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Luminari, fantasy;
  background-attachment: fixed;

  max-width: cover;
}

a {
  color: Gold;
}
h1 {
  color: DarkRed;
  font-size: 50px;
  text-align: center;
  font-family: Luminari, fantasy;
}

h2 {
  color: DarkRed;
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
}

p {
  margin-right: 300px;
  margin-left: 300px;
  color: Silver;
  text-align: center;
}

.one {
}

.two {
}

.TOC {
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
}

div.bg1 {
  background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRr4Lg4iRRWdj6iwRCY6k3SU9s6xEc2_zSupToc7CJ5NLfI8jId);
  background-position: center;
  background-size: cover;
  margin-right: 10%;
  margin-left: 10%;
}
