body {
  background-image: linear-gradient(Purple, white);
  background-repeat: no-repeat;
  background-size: auto;
}

h2 {
  color: blue;
  font-size: 50px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
