body {
  background-image: url(https://media.npr.org/assets/artslife/arts/2010/02/dantesinferno/inferno_archive-becf91cdf5140a602f77b5514b518ba7db4db4f6.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Luminari, fantasy;
  background-attachment: fixed;

  max-width: cover;
}

a {
  color: Gold;
}
h1 {
  color: DarkRed;
  font-size: 50px;
  text-align: center;
  font-family: Luminari, fantasy;
}

h2 {
  color: DarkRed;
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
}

p {
  color: Silver;
  font-size: 20px;
}

.one {
  text-align: center;
  margin-right: 10%;
  margin-left: 60%;
  margin-bottom: 300px;
}

.two {
  text-align: center;
  margin-right: 60%;
  margin-left: 10%;
  margin-bottom: 300px;
}

.TOC {
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
}

.headp {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}
div.bg1 {
  background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRr4Lg4iRRWdj6iwRCY6k3SU9s6xEc2_zSupToc7CJ5NLfI8jId);
  background-position: center;
  background-size: cover;
  margin-right: 12%;
  margin-left: 12%;
  min-height: cover;
}

.image1 {
  float: right;
  width: 400px;
  height: 380px;
  margin-right: 5%;
  object-fit: cover;
  border: 5px solid #c7a750;
}

<<<<<<< HEAD
.image2 {
  float: left;
  width: 400px;
  height: 380px;
  margin-left: 5%;
  object-fit: cover;
  border: 5px solid #c7a750;
}
=======
>>>>>>> 44bc648033c3a146256790aac313b346f8998c2d
