body {
  background-image: url(https://cdn.mos.cms.futurecdn.net/M7fDTpDnJcZ4dt3myngzxi.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Luminari, fantasy;
  background-attachment: fixed;

  max-width: cover;
}

a {
  color: gold;
}
h1 {
  color: palegoldenrod;
  font-size: 50px;
  text-align: center;
  font-family: Luminari, fantasy;
}

h2 {
  color: palegoldenrod;
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
}

p {
  color: Silver;
}

.one {
  text-align: center;
  margin-right: 10%;
  margin-left: 50%;
  margin-bottom: 300px;
}

.two {
  text-align: center;
  margin-right: 50%;
  margin-left: 10%;
  margin-bottom: 300px;
}

.TOC {
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
}

.headp {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

div.bg1 {
  background-image: url(https://www.announcementconverters.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/I/L/ILU11C.jpg);
  background-position: center;
  background-size: cover;
  margin-right: 12%;
  margin-left: 12%;
  min-height: cover;
}

.image1 {
  float: right;
  width: 400px;
  height: 380px;
  margin-right: 5%;
  object-fit: cover;
  border: 5px solid #c7a750;
}

.image2 {
  float: left;
  width: 400px;
  height: 380px;
  margin-left: 5%;
  object-fit: cover;
  border: 5px solid #c7a750;
}
