body {
  /* This is the simple gradient (fade) background for the "Inferno" page */
  background-image: url(https://cdn.mos.cms.futurecdn.net/M7fDTpDnJcZ4dt3myngzxi.jpg);
  
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  font-family: Luminari, fantasy; 
  background-attachment: fixed;

  max-width:cover;
  min-width:2000px;
}

a{
  color:gold
}
h1 {
  color: palegoldenrod;
  font-size: 50px;
  text-align: center;
  font-family: Luminari, fantasy;
}

h2 {
  color: palegoldenrod;
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
}

p {
  margin-right: 300px;
  margin-left: 300px;
  color: Silver;
  text-align: center;
}

.one{

  
}


.two

{

}

.TOC {
text-align: center;
margin-left: 400px;
margin-right: 400px;
}



div.bg1 {
  background-image: url(https://www.announcementconverters.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/I/L/ILU11C.jpg);
  background-position: center;
  background-size: 100000px ;
  margin-right:500px;
  margin-left: 500px;
  background-repeat: no-repeat;
}