body {
  /* This is the simple gradient (fade) background for the "Inferno" page */
  background-image: url(https://cdn.inprnt.com/thumbs/f2/fc/f2fc83d2b793c2e9d54e5da2bffcd830.jpg?response-cache-control=max-age=2628000);
  
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  font-family: Luminari, fantasy; 
  background-attachment: fixed;

  max-width:cover;
  min-width:2000px;
}

a{
  color:Black
}
h1 {
  color: Black;
  font-size: 50px;
  text-align: center;
  font-family: Luminari, fantasy;
}

h2 {
  color: Black;
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
}

p {
  margin-right: 300px;
  margin-left: 300px;
  color: Silver;
  text-align: center;
}

.one{

  
}


.two

{

}

.TOC {
text-align: center;
margin-left: 400px;
margin-right: 400px;
}



div.bg1 {
  background-image: url(https://wallpaperaccess.com/full/2200497.jpg);
  background-position: center;
  background-size: 100000px ;
  margin-right:500px;
  margin-left: 500px;
  background-repeat: no-repeat;
}