body {
  /* This is the simple gradient (fade) background for the "Inferno" page */
  background-image: linear-gradient(darkRed, black);
  background-repeat: no-repeat;
  background-size: auto;
  font-family: Luminari, fantasy;
}

h1 {
  color: Gold;
  font-size: 50px;
  text-align: center;
  font-family: Luminari, fantasy;
}

h2 {
  color: Silver;
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
}

p {
  margin-right: 400px;
  margin-left: 400px;
  color: silver;
  text-align: center;
}
